
.product {
  background-color: black;
  color: #ccc;
  padding: 40px;
  text-align: center;
}

.product h1 {
  color: pink;
  font-size: 2em;
  margin-bottom: 20px;
}

.product img {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid pink; 
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
button{
  background-color: pink;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


