.feedback-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    
  }
  
  .feedback-item {
    display: flex; 
    align-items: center; 
    margin: 10px;
  }
  
  .feedback-item p {
    font-size: larger;
    margin: 15px 25px;
  }
  
  