.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.menu {
  display: flex;
  gap: 10px;
}

.burger {
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.burgerMenu {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.burgerMenu.show {
  display: flex;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  
  .burger {
    display: block;
  }
}
img{
  width: 236px;
}
.card {
  border: solid 1px #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
  width: 236px;
}
