
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: black;
  color: white;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: pink;
  border-radius: 10px;
  display: grid;
  width: 300px;
}

.product h2 {
  margin-bottom: 10px;
}

.product img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.buttons button {
  background-color: black;
  color: white;
  border: none;
  
  border-radius: 10px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: gray;
}

.buttons button.all {
  background-color: pink;
  color: black;
}

.buttons button.all:hover {
  background-color: white;
}


@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .product {
    width: 100%;
    max-width: 100%;
  }

  .buttons {
    flex-direction: column;
    gap: 5px;
  }

  .buttons button {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 460px) {
  .container {
    padding: 5px;
  }

  .product {
    width: 100%;
    max-width: 100%;
    padding: 5px;
  }

  .buttons {
    flex-direction: column;
    gap: 5px;
  }

  .buttons button {
    width: 100%;
    padding: 8px;
  }
}
